    /*
    Flaticon icon font: Flaticon
    Creation date: 12/05/2017 10:25
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-boar:before { content: "\f100"; }
.flaticon-002-porcupine:before { content: "\f101"; }
.flaticon-003-toad:before { content: "\f102"; }
.flaticon-004-shrew:before { content: "\f103"; }
.flaticon-005-wolverine:before { content: "\f104"; }
.flaticon-006-mole:before { content: "\f105"; }
.flaticon-007-weasel:before { content: "\f106"; }
.flaticon-008-racoon:before { content: "\f107"; }
.flaticon-009-zebra:before { content: "\f108"; }
.flaticon-010-otter:before { content: "\f109"; }
.flaticon-011-dog:before { content: "\f10a"; }
.flaticon-012-salamander:before { content: "\f10b"; }
.flaticon-013-monkey:before { content: "\f10c"; }
.flaticon-014-kiwi:before { content: "\f10d"; }
.flaticon-015-philippine-tarsier:before { content: "\f10e"; }
.flaticon-016-skunk:before { content: "\f10f"; }
.flaticon-017-red-panda:before { content: "\f110"; }
.flaticon-018-pig:before { content: "\f111"; }
.flaticon-019-rhinoceros:before { content: "\f112"; }
.flaticon-020-squirrel:before { content: "\f113"; }
.flaticon-021-polar-bear:before { content: "\f114"; }
.flaticon-022-owl:before { content: "\f115"; }
.flaticon-023-sea-lion:before { content: "\f116"; }
.flaticon-024-tiger:before { content: "\f117"; }
.flaticon-025-ostrich:before { content: "\f118"; }
.flaticon-026-wolf:before { content: "\f119"; }
.flaticon-027-ermine:before { content: "\f11a"; }
.flaticon-028-lemur:before { content: "\f11b"; }
.flaticon-029-badger:before { content: "\f11c"; }
.flaticon-030-armadillo:before { content: "\f11d"; }
.flaticon-031-eel:before { content: "\f11e"; }
.flaticon-032-sheep:before { content: "\f11f"; }
.flaticon-033-gorilla:before { content: "\f120"; }
.flaticon-034-kangaroo:before { content: "\f121"; }
.flaticon-035-coati:before { content: "\f122"; }
.flaticon-036-hedgehog:before { content: "\f123"; }
.flaticon-037-donkey:before { content: "\f124"; }
.flaticon-038-hyena:before { content: "\f125"; }
.flaticon-039-hippopotamus:before { content: "\f126"; }
.flaticon-040-fennec:before { content: "\f127"; }
.flaticon-041-goat:before { content: "\f128"; }
.flaticon-042-alpaca:before { content: "\f129"; }
.flaticon-043-whale:before { content: "\f12a"; }
.flaticon-044-hen:before { content: "\f12b"; }
.flaticon-045-panther:before { content: "\f12c"; }
.flaticon-046-bison:before { content: "\f12d"; }
.flaticon-047-cheetah:before { content: "\f12e"; }
.flaticon-048-antilope:before { content: "\f12f"; }
.flaticon-049-giraffe:before { content: "\f130"; }
.flaticon-050-panda:before { content: "\f131"; }
.flaticon-051-bird:before { content: "\f132"; }
.flaticon-052-lion:before { content: "\f133"; }
.flaticon-053-moose:before { content: "\f134"; }
.flaticon-054-snail:before { content: "\f135"; }
.flaticon-055-cat:before { content: "\f136"; }
.flaticon-056-fox:before { content: "\f137"; }
.flaticon-057-fish-2:before { content: "\f138"; }
.flaticon-058-bear:before { content: "\f139"; }
.flaticon-059-horse:before { content: "\f13a"; }
.flaticon-060-deer:before { content: "\f13b"; }
.flaticon-061-camel:before { content: "\f13c"; }
.flaticon-062-cow:before { content: "\f13d"; }
.flaticon-063-walrus:before { content: "\f13e"; }
.flaticon-064-rabbit:before { content: "\f13f"; }
.flaticon-065-puffer:before { content: "\f140"; }
.flaticon-066-fish-1:before { content: "\f141"; }
.flaticon-067-hamster:before { content: "\f142"; }
.flaticon-068-koala:before { content: "\f143"; }
.flaticon-069-snake:before { content: "\f144"; }
.flaticon-070-lizard:before { content: "\f145"; }
.flaticon-071-mussel:before { content: "\f146"; }
.flaticon-072-spider:before { content: "\f147"; }
.flaticon-073-octopus:before { content: "\f148"; }
.flaticon-074-rat:before { content: "\f149"; }
.flaticon-075-manta-ray:before { content: "\f14a"; }
.flaticon-076-beetle:before { content: "\f14b"; }
.flaticon-077-elephant:before { content: "\f14c"; }
.flaticon-078-crocodile:before { content: "\f14d"; }
.flaticon-079-crow:before { content: "\f14e"; }
.flaticon-080-dolphin:before { content: "\f14f"; }
.flaticon-081-duck:before { content: "\f150"; }
.flaticon-082-starfish:before { content: "\f151"; }
.flaticon-083-clam:before { content: "\f152"; }
.flaticon-084-worm:before { content: "\f153"; }
.flaticon-085-turtle:before { content: "\f154"; }
.flaticon-086-crab:before { content: "\f155"; }
.flaticon-087-goldfish:before { content: "\f156"; }
.flaticon-088-flamingo:before { content: "\f157"; }
.flaticon-089-coral:before { content: "\f158"; }
.flaticon-090-bat:before { content: "\f159"; }
.flaticon-091-jellyfish:before { content: "\f15a"; }
.flaticon-092-hummingbird:before { content: "\f15b"; }
.flaticon-093-penguin:before { content: "\f15c"; }
.flaticon-094-toucan:before { content: "\f15d"; }
.flaticon-095-butterfly:before { content: "\f15e"; }
.flaticon-096-bee:before { content: "\f15f"; }
.flaticon-097-fish:before { content: "\f160"; }
.flaticon-098-scorpion:before { content: "\f161"; }
.flaticon-099-frog:before { content: "\f162"; }
.flaticon-100-parrot:before { content: "\f163"; }
    
    $font-Flaticon-001-boar: "\f100";
    $font-Flaticon-002-porcupine: "\f101";
    $font-Flaticon-003-toad: "\f102";
    $font-Flaticon-004-shrew: "\f103";
    $font-Flaticon-005-wolverine: "\f104";
    $font-Flaticon-006-mole: "\f105";
    $font-Flaticon-007-weasel: "\f106";
    $font-Flaticon-008-racoon: "\f107";
    $font-Flaticon-009-zebra: "\f108";
    $font-Flaticon-010-otter: "\f109";
    $font-Flaticon-011-dog: "\f10a";
    $font-Flaticon-012-salamander: "\f10b";
    $font-Flaticon-013-monkey: "\f10c";
    $font-Flaticon-014-kiwi: "\f10d";
    $font-Flaticon-015-philippine-tarsier: "\f10e";
    $font-Flaticon-016-skunk: "\f10f";
    $font-Flaticon-017-red-panda: "\f110";
    $font-Flaticon-018-pig: "\f111";
    $font-Flaticon-019-rhinoceros: "\f112";
    $font-Flaticon-020-squirrel: "\f113";
    $font-Flaticon-021-polar-bear: "\f114";
    $font-Flaticon-022-owl: "\f115";
    $font-Flaticon-023-sea-lion: "\f116";
    $font-Flaticon-024-tiger: "\f117";
    $font-Flaticon-025-ostrich: "\f118";
    $font-Flaticon-026-wolf: "\f119";
    $font-Flaticon-027-ermine: "\f11a";
    $font-Flaticon-028-lemur: "\f11b";
    $font-Flaticon-029-badger: "\f11c";
    $font-Flaticon-030-armadillo: "\f11d";
    $font-Flaticon-031-eel: "\f11e";
    $font-Flaticon-032-sheep: "\f11f";
    $font-Flaticon-033-gorilla: "\f120";
    $font-Flaticon-034-kangaroo: "\f121";
    $font-Flaticon-035-coati: "\f122";
    $font-Flaticon-036-hedgehog: "\f123";
    $font-Flaticon-037-donkey: "\f124";
    $font-Flaticon-038-hyena: "\f125";
    $font-Flaticon-039-hippopotamus: "\f126";
    $font-Flaticon-040-fennec: "\f127";
    $font-Flaticon-041-goat: "\f128";
    $font-Flaticon-042-alpaca: "\f129";
    $font-Flaticon-043-whale: "\f12a";
    $font-Flaticon-044-hen: "\f12b";
    $font-Flaticon-045-panther: "\f12c";
    $font-Flaticon-046-bison: "\f12d";
    $font-Flaticon-047-cheetah: "\f12e";
    $font-Flaticon-048-antilope: "\f12f";
    $font-Flaticon-049-giraffe: "\f130";
    $font-Flaticon-050-panda: "\f131";
    $font-Flaticon-051-bird: "\f132";
    $font-Flaticon-052-lion: "\f133";
    $font-Flaticon-053-moose: "\f134";
    $font-Flaticon-054-snail: "\f135";
    $font-Flaticon-055-cat: "\f136";
    $font-Flaticon-056-fox: "\f137";
    $font-Flaticon-057-fish-2: "\f138";
    $font-Flaticon-058-bear: "\f139";
    $font-Flaticon-059-horse: "\f13a";
    $font-Flaticon-060-deer: "\f13b";
    $font-Flaticon-061-camel: "\f13c";
    $font-Flaticon-062-cow: "\f13d";
    $font-Flaticon-063-walrus: "\f13e";
    $font-Flaticon-064-rabbit: "\f13f";
    $font-Flaticon-065-puffer: "\f140";
    $font-Flaticon-066-fish-1: "\f141";
    $font-Flaticon-067-hamster: "\f142";
    $font-Flaticon-068-koala: "\f143";
    $font-Flaticon-069-snake: "\f144";
    $font-Flaticon-070-lizard: "\f145";
    $font-Flaticon-071-mussel: "\f146";
    $font-Flaticon-072-spider: "\f147";
    $font-Flaticon-073-octopus: "\f148";
    $font-Flaticon-074-rat: "\f149";
    $font-Flaticon-075-manta-ray: "\f14a";
    $font-Flaticon-076-beetle: "\f14b";
    $font-Flaticon-077-elephant: "\f14c";
    $font-Flaticon-078-crocodile: "\f14d";
    $font-Flaticon-079-crow: "\f14e";
    $font-Flaticon-080-dolphin: "\f14f";
    $font-Flaticon-081-duck: "\f150";
    $font-Flaticon-082-starfish: "\f151";
    $font-Flaticon-083-clam: "\f152";
    $font-Flaticon-084-worm: "\f153";
    $font-Flaticon-085-turtle: "\f154";
    $font-Flaticon-086-crab: "\f155";
    $font-Flaticon-087-goldfish: "\f156";
    $font-Flaticon-088-flamingo: "\f157";
    $font-Flaticon-089-coral: "\f158";
    $font-Flaticon-090-bat: "\f159";
    $font-Flaticon-091-jellyfish: "\f15a";
    $font-Flaticon-092-hummingbird: "\f15b";
    $font-Flaticon-093-penguin: "\f15c";
    $font-Flaticon-094-toucan: "\f15d";
    $font-Flaticon-095-butterfly: "\f15e";
    $font-Flaticon-096-bee: "\f15f";
    $font-Flaticon-097-fish: "\f160";
    $font-Flaticon-098-scorpion: "\f161";
    $font-Flaticon-099-frog: "\f162";
    $font-Flaticon-100-parrot: "\f163";