	/*
  	Flaticon icon font: Flaticon
  	Creation date: 12/05/2017 10:25
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-boar:before { content: "\f100"; }
.flaticon-002-porcupine:before { content: "\f101"; }
.flaticon-003-toad:before { content: "\f102"; }
.flaticon-004-shrew:before { content: "\f103"; }
.flaticon-005-wolverine:before { content: "\f104"; }
.flaticon-006-mole:before { content: "\f105"; }
.flaticon-007-weasel:before { content: "\f106"; }
.flaticon-008-racoon:before { content: "\f107"; }
.flaticon-009-zebra:before { content: "\f108"; }
.flaticon-010-otter:before { content: "\f109"; }
.flaticon-011-dog:before { content: "\f10a"; }
.flaticon-012-salamander:before { content: "\f10b"; }
.flaticon-013-monkey:before { content: "\f10c"; }
.flaticon-014-kiwi:before { content: "\f10d"; }
.flaticon-015-philippine-tarsier:before { content: "\f10e"; }
.flaticon-016-skunk:before { content: "\f10f"; }
.flaticon-017-red-panda:before { content: "\f110"; }
.flaticon-018-pig:before { content: "\f111"; }
.flaticon-019-rhinoceros:before { content: "\f112"; }
.flaticon-020-squirrel:before { content: "\f113"; }
.flaticon-021-polar-bear:before { content: "\f114"; }
.flaticon-022-owl:before { content: "\f115"; }
.flaticon-023-sea-lion:before { content: "\f116"; }
.flaticon-024-tiger:before { content: "\f117"; }
.flaticon-025-ostrich:before { content: "\f118"; }
.flaticon-026-wolf:before { content: "\f119"; }
.flaticon-027-ermine:before { content: "\f11a"; }
.flaticon-028-lemur:before { content: "\f11b"; }
.flaticon-029-badger:before { content: "\f11c"; }
.flaticon-030-armadillo:before { content: "\f11d"; }
.flaticon-031-eel:before { content: "\f11e"; }
.flaticon-032-sheep:before { content: "\f11f"; }
.flaticon-033-gorilla:before { content: "\f120"; }
.flaticon-034-kangaroo:before { content: "\f121"; }
.flaticon-035-coati:before { content: "\f122"; }
.flaticon-036-hedgehog:before { content: "\f123"; }
.flaticon-037-donkey:before { content: "\f124"; }
.flaticon-038-hyena:before { content: "\f125"; }
.flaticon-039-hippopotamus:before { content: "\f126"; }
.flaticon-040-fennec:before { content: "\f127"; }
.flaticon-041-goat:before { content: "\f128"; }
.flaticon-042-alpaca:before { content: "\f129"; }
.flaticon-043-whale:before { content: "\f12a"; }
.flaticon-044-hen:before { content: "\f12b"; }
.flaticon-045-panther:before { content: "\f12c"; }
.flaticon-046-bison:before { content: "\f12d"; }
.flaticon-047-cheetah:before { content: "\f12e"; }
.flaticon-048-antilope:before { content: "\f12f"; }
.flaticon-049-giraffe:before { content: "\f130"; }
.flaticon-050-panda:before { content: "\f131"; }
.flaticon-051-bird:before { content: "\f132"; }
.flaticon-052-lion:before { content: "\f133"; }
.flaticon-053-moose:before { content: "\f134"; }
.flaticon-054-snail:before { content: "\f135"; }
.flaticon-055-cat:before { content: "\f136"; }
.flaticon-056-fox:before { content: "\f137"; }
.flaticon-057-fish-2:before { content: "\f138"; }
.flaticon-058-bear:before { content: "\f139"; }
.flaticon-059-horse:before { content: "\f13a"; }
.flaticon-060-deer:before { content: "\f13b"; }
.flaticon-061-camel:before { content: "\f13c"; }
.flaticon-062-cow:before { content: "\f13d"; }
.flaticon-063-walrus:before { content: "\f13e"; }
.flaticon-064-rabbit:before { content: "\f13f"; }
.flaticon-065-puffer:before { content: "\f140"; }
.flaticon-066-fish-1:before { content: "\f141"; }
.flaticon-067-hamster:before { content: "\f142"; }
.flaticon-068-koala:before { content: "\f143"; }
.flaticon-069-snake:before { content: "\f144"; }
.flaticon-070-lizard:before { content: "\f145"; }
.flaticon-071-mussel:before { content: "\f146"; }
.flaticon-072-spider:before { content: "\f147"; }
.flaticon-073-octopus:before { content: "\f148"; }
.flaticon-074-rat:before { content: "\f149"; }
.flaticon-075-manta-ray:before { content: "\f14a"; }
.flaticon-076-beetle:before { content: "\f14b"; }
.flaticon-077-elephant:before { content: "\f14c"; }
.flaticon-078-crocodile:before { content: "\f14d"; }
.flaticon-079-crow:before { content: "\f14e"; }
.flaticon-080-dolphin:before { content: "\f14f"; }
.flaticon-081-duck:before { content: "\f150"; }
.flaticon-082-starfish:before { content: "\f151"; }
.flaticon-083-clam:before { content: "\f152"; }
.flaticon-084-worm:before { content: "\f153"; }
.flaticon-085-turtle:before { content: "\f154"; }
.flaticon-086-crab:before { content: "\f155"; }
.flaticon-087-goldfish:before { content: "\f156"; }
.flaticon-088-flamingo:before { content: "\f157"; }
.flaticon-089-coral:before { content: "\f158"; }
.flaticon-090-bat:before { content: "\f159"; }
.flaticon-091-jellyfish:before { content: "\f15a"; }
.flaticon-092-hummingbird:before { content: "\f15b"; }
.flaticon-093-penguin:before { content: "\f15c"; }
.flaticon-094-toucan:before { content: "\f15d"; }
.flaticon-095-butterfly:before { content: "\f15e"; }
.flaticon-096-bee:before { content: "\f15f"; }
.flaticon-097-fish:before { content: "\f160"; }
.flaticon-098-scorpion:before { content: "\f161"; }
.flaticon-099-frog:before { content: "\f162"; }
.flaticon-100-parrot:before { content: "\f163"; }