.end_game_message {
    width: 80vw;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.end_game_container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.end_game_content_container{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}