.welcome_container {
    /*height: 300px;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    /*align-content: center;*/
}

.welcome_image {
    height: 200px;
}

.welcome_host_game_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: yellow;
    margin: 30px;
    height: 200px;
}

.welcome_hidden {
    visibility: hidden;
}

.welcome_host_or_join_button_container {
    display: flex;
    justify-content: space-evenly;
}
