.bidder_component_bid_container {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.bidder_component_button {
    font-size: 17px;
}

/*.bidder_component_button {*/
    /*width: 33%;*/
/*}*/