.public_player_card{
    display: flex;
    justify-content: space-between;
}

.public_player_item_animal_container{
    position: relative;
}

/*.flaticon-003-toad:before {*/
    /*font-size: 17px;*/
/*}*/

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-size: 3em !important;
}